body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-container {
  display: flex;
  overflow-x: hidden; 
  padding: 20px;
  cursor: grab; 
  user-select: none;
}

.item {
  width: 20px;
  padding: 1rem;;
  height: 30px;
  background-color: #ddd;
  margin-right: 20px;
  border-radius: 50%;;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  flex-shrink: 0;
}


/*infinite scrolling */


.custom-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.custom-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.custom-item {
  width: calc(33.33% - 20px);
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.custom-loader {
  text-align: center;
  margin-top: 20px;
}

.custom-loader-spinner {
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid #0073e6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: none;
  margin:auto;
  padding-bottom: 3rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

